@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

@font-face {
    font-family: 'arab-qatar';
    src: url('../resources/fonts/Qatar2022Arabic-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display:fallback;
  }

*{
    font-family: 'arab-qatar', sans-serif;
    margin: 0;
    padding: 0;
}

/* basic styles */

.text-sep{
    display: none;
    font-size: 2.1em;
}


body{
    font-size: 14px;
    background: url('../resources/img/messi-goal.gif') no-repeat center;
    background-size: cover;
    color: #fff;
}

header,footer,main{
    width: 100%;
    cursor: default;
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

header{
    flex-flow: column;
    height: 200px
}

main{
    min-height: calc(100vh - 200px - 2em)
}

footer{
    background-color: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
    height: 2em
}

/* elems styles */

#main-container{
    background-color:rgba(0, 0, 0, 0.75)
}

/* HEADER ELEMS */
#header-title{
    margin-top: 20px;
    font-family: 'arab-qatar', sans-serif;
    font-size: 5em;
    text-shadow: 10px 8px 2px rgba(131, 33, 82, 0.938);;
}

#duration-time{
    letter-spacing: 1px;
    font-size: 1.6em;
}

/* MAIN ELEMS */
#clock-container{
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 300px;
    justify-items: center;
    text-transform: uppercase;
    margin: 10px;
    column-gap: 20px;
    row-gap: 20px;
    width: 90vw;
}

.title-data{
    font-size: 2.8em;
}

.display-data{
    font-size: 2.1em;
}


/* FOOTER ELEMS */
footer > p {
    font-size: 1em;
    font-family: sans-serif;
    font-weight: weight;
}

footer > a {
    margin-left: 10px;
    height: 1.25em;
}

#github-img{
    width: 1.25em;
    height: auto;
}

/* media queries */

/*fullhd devices (large desktops, 1920px and up) */
@media (min-width: 1920px) { 
    body{
        font-size: 24px; 
    }
 }

/*mobile/tablet devices (tabler, 1920px and up) */
 @media (max-width:580px){ 
    #clock-container{
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
    }
    
    .text-sep{
        display: inline;
    }

    .title-data{
        display: none;
    }

    body{
        font-size: 12px; 
    }
 
}
@media (max-width:340px){ 
    #clock-container{
        font-size: 10px;
    }
    body{
        font-size: 8px; 
    }
 }



